#carrier_index
  .show
    %h2
      Transportadoras
    %table(class="table")
      - @carriers.each do |carrier|
        = content_tag_for :tr, carrier, :class => cycle(:odd, :even) do
          %td.content
            .right
            = "#{carrier.name} (#{carrier.e_mail})"
            .right
              = link_to_edit [:edit, carrier]
              = link_to_destroy [carrier]

    %hr
    = link_to('Nova transportadora', new_carrier_path, class: "button")