.top_bar
  = link_to('Home', root_path, class: "button")
  = link_to('Transportadora', carriers_path, class: "button")
  = link_to('Frete', freights_path, class: "button")
.content_
  .content
    %h2
      Transportadoras
.content_
  %ul(class="list")
    - @carriers.each do |carrier|
      = content_tag_for :li, carrier, :class => cycle(:odd, :even) do
        = "#{carrier.name} (#{carrier.e_mail})"

        .right
          = link_to_edit [:edit, carrier]
          = link_to_destroy [carrier]

  %hr(class="thick")

  .bar
    = link_to('Nova Transportadora', new_carrier_path, :class => "button")