= form_tag(:method => "get") do
  #content
    .left.column
      %h3 Cadastros
      = button_to( 'Transportadora', {:action => "index"} )
      = button_to( 'Cidade', {:action => "index"} )
      = button_to( 'Valo/Cid./Transp', {:action => "index"}  )
    .right.column
      %br
      %br
      %h3 Valor frete da transportadora
      = label_tag(:name_carrier,"Nome")
      = text_field_tag(:id_carrier)
      = text_field_tag(:name_carrier)
      = button_to( 'Buscar', {:action => "index"}  )
      = label_tag(:id_origin_city,"Cidade origin")
      = text_field_tag(:id_origin_city)
      = text_field_tag(:name_origin_city)
      = button_to( 'Buscar', {:action => "index"}  )
      = label_tag(:id_destination_city, "Cidade destino")
      = text_field_tag(:id_destination_city)
      = text_field_tag(:name_destination_city)
      = button_to( 'Buscar', {:action => "index"}  )
      = label_tag(:weight_range, "Faixa de peso")
      = text_field_tag(:name_weight_range)
      %br
      = label_tag(:value, "Valor")
      = text_field_tag(:name_value)
      %br
      = button_to( 'Novo', {:action => "index"}  )
      = button_to( 'Editar', {:action => "index"}  )
      = button_to( 'Excluir', {:action => "index"}  )