#freight_index
  .show
    %h2
      Fretes
    %table(class="table")
      - @freights.each do |freight|
        - if @freights.present?
          = content_tag_for :tr, freight, :class => cycle(:odd, :even) do
            %td.content
              .description.left
                = "#{freight.carrier.name}"
                %br
                = "Cidades: #{freight.origin_city.name} X #{freight.destination_city.name}"
                %br
                = "Peso inicial: #{freight.start_weight}Kg  X Peso final: #{freight.end_weight}Kg"
              .options
                = link_to_edit [:edit, freight]
              .options
                = link_to_destroy [freight]

    %hr
    = link_to('Novo frete', new_freight_path, class: "button")