= form_for(@freight) do |f|
  #content
    .left.column
      %h3 Cadastros
      = button_to( 'Transportadora', {:action => "index"} )
      = button_to( 'Cidade', {:action => "index"} )
      = button_to( 'Valo/Cid./Transp', {:action => "index"}  )
    .right.column
      %br
      %br
      %h3 Valor frete da transportadora
      = f.label(:carrier_id,"Transportadora")
      = f.select :carrier_id, Carrier.all.collect {|c| [ c.name, c.id ]}, prompt: '-- selecione --'
      %br
      = f.label(:origin_city_id,"Cidade origem")
      = f.select :origin_city_id, City.all.collect {|c| [ c.name, c.id ]}, prompt: '-- selecione --'
      %br
      = f.label(:destination_city_id, "Cidade destino")
      = f.select :destination_city_id, City.all.collect {|c| [ c.name, c.id ]}, prompt: '-- selecione --'
      %br
      = f.label(:start_weight, "Peso inicio")
      = f.text_field(:start_weight)
      = f.label(:end_weight, "Peso final")
      = f.text_field(:end_weight)
      %br
      = f.label(:value, "Valor")
      = f.text_field(:value)
      %br
      = f.submit
      = button_to( 'Editar', {:action => "index"}  )
      = button_to( 'Excluir', {:action => "index"}  )