= form_for(@freight) do |f|
  #content
    .left.column
      %h3 Cadastros
      = button_to( 'Transportadora', {:action => "index"} )
      = button_to( 'Cidade', {:action => "index"} )
      = button_to( 'Valo/Cid./Transp', {:action => "index"}  )
    .right.column
      %br
      %br
      %h3 Valor frete da transportadora
      = f.label(:id_carrier,"Nome")
      = f.text_field(:id_carrier)
      = f.text_field(:id_carrier)
      = button_to( 'Buscar', {:action => "index"}  )
      = f.label(:id_origin_city,"Cidade origin")
      = f.text_field(:id_origin_city)
      = f.text_field(:id_origin_city)
      = button_to( 'Buscar', {:action => "index"}  )
      = f.label(:id_destination_city, "Cidade destino")
      = f.text_field(:id_destination_city)
      = f.text_field(:id_destination_city)
      = button_to( 'Buscar', {:action => "index"}  )
      = f.label(:beginning_band, "inicio")
      = f.text_field(:beginning_band)
      = f.label(:end_band, "final")
      = f.text_field(:end_band)
      %br
      = f.label(:value, "Valor")
      = f.text_field(:value)
      %br
      = f.submit
      = button_to( 'Editar', {:action => "index"}  )
      = button_to( 'Excluir', {:action => "index"}  )