= form_for(@city) do |f|
  #content
    .left.column
      %h3 Cadastros
      = button_to( 'Transportadora', {:action => "index"} )
      = button_to( 'Cidade', {:action => "index"} )
      = button_to( 'Valo/Cid./Transp', {:action => "index"}  )
    .right.column
      %br
      %br
      %h3 Cidade
      = f.label(:name,"Nome")
      = f.text_field(:name)
      = button_to( 'Buscar', {:action => "index"}  )
      = f.label(:state,"Estado")
      = f.text_field(:state)
      %br
      = f.submit
      = button_to( 'Editar', {:action => "index"}  )
      = button_to( 'Excluir', {:action => "index"}  )