#page_index
  = form_for :data, url: page_result_path do |f|
    .show
      .search
        = f.label(:origin_city, "Cidade de origem   :")
        = f.select :origin_city, City.all.collect {|c| [ c.name, c.id ]}, prompt: '-- selecione --'
        %br
        = f.label(:destination_city, "Cidade de destino:")
        = f.select :destination_city, City.all.collect {|c| [ c.name, c.id ]}, prompt: '-- selecione --'
        %br
        = f.label(:weight, "Peso:")
        = f.text_field(:weight)
        = f.submit('Buscar',:class => "button")