= form_for :data, url: page_result_path do |f|
  %div(id='wrapper')
    %div(id='show')
      %ul(class="main_freight")
        %h1 Frete Fácil
      %ul(class="main_search")
        = f.label(:origin_city, "Cidade de origem   :")
        = f.text_field(:origin_city)
        %br
        = f.label(:destination_city, "Cidade de destino:")
        = f.text_field(:destination_city)
        %br
        = f.label(:weight, "Peso:")
        = f.text_field(:weight)
        = f.submit('Buscar',:class => "button")